In [46]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

In [47]:
data = pd.read_csv("/content/drive/MyDrive/archive.zip")

data.head()

    age  anaemia  creatinine_phosphokinase  ...  smoking  time  DEATH_EVENT
0  75.0        0                       582  ...        0     4            1
1  55.0        0                      7861  ...        0     6            1
2  65.0        0                       146  ...        1     7            1
3  50.0        1                       111  ...        0     7            1
4  65.0        1                       160  ...        0     8            1

[5 rows x 13 columns]

In [48]:
print(data.isna().sum(axis = 0))

age                         0
anaemia                     0
creatinine_phosphokinase    0
diabetes                    0
ejection_fraction           0
high_blood_pressure         0
platelets                   0
serum_creatinine            0
serum_sodium                0
sex                         0
smoking                     0
time                        0
DEATH_EVENT                 0
dtype: int64

In [49]:
x = data[['age','ejection_fraction','serum_creatinine','serum_sodium','time']]
y = data['DEATH_EVENT']
X_train,X_test,y_train,y_test = train_test_split(x,y,test_size = 0.2)

In [50]:
model = LogisticRegression()
model.fit(X_train, y_train)
predictions = model.predict(X_test)

In [51]:
print(confusion_matrix(y_test,predictions))
print(accuracy_score(y_test,predictions))

[[33  2]
 [ 7 18]]
0.85